.InfoTitle {
    position: relative;
    margin: 20px 16px 40px 0;
}
.InfoTitle::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 3px;

    background: #eee;
    box-shadow: 1px 1px 1px 0px #111;
}