.ReadMoreButton {
    padding: 20px;

    text-decoration: none;
    color: #eee;
    font-weight: 500;
    text-transform: capitalize;

    margin: 14px 20px;
    padding: 8px 16px;
    border: 3px solid #eee;
    box-shadow: 1px 1px 4px 0px #111;
}