@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  background: url("./StarSky.gif");

  color: #eee;
  text-shadow: 1px 1px 1px #111;

  font-family: "Poppins", sans-serif;
}

@media (max-aspect-ratio: 819 / 546) {
  html,
  body,
  #root {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
  #root {
    overflow: scroll;
  }
}